/**
 * # Container: Suppliant - SuppliantForm - (FieldTypes) - Slider
 *
 *
 */

.Slider {
  height: 30px;
  width: 100%;
  // max-width: 500px;
  border: 2px solid grey;
  margin-bottom: 15px;
}

.Bar {
  background-color: beige;
  height: 100%;
  // &-1 {
  //   background-color: #bbb;
  // }
}

.Handle {
  height: 150%;
  width: 30px;
  top: -25%;

  // font-size: 16px;
  text-align: center;
  background-color: lightgrey;//$color-grey;
  border-radius: 4px;//$border-radius-small;
  border: 2px solid darkgray;
  cursor: pointer;
  color: $color-black;;

  &--active {
    background-color: grey;
    color: $coloe-white;
  }
}

.Label {
  cursor: pointer;
}
