/**
 * # Container: Suppliant
 *
 *
 */

.Suppliant {
  width: 100%;
}

.Text {
  text-align: center;
  font-style: italic;
}

.Task {
  background-color: $color-beige;
  padding: 50px;
  $spaceBottom(50px);
}

.Link {
  display: block;
}

.Description {

}
