/**
 * # Component: Main
 *
 *
 */

.Main {
  lost-flex-container: row;
  padding: 40px;
}

.Small {
  lost-column: 1/5;
  min-height: 600px;
}

.Large {
  lost-column: 4/5;
  padding: 0 20px;
}


.Info {
  background-color: $color-beige;
  padding: 20px;
}

.Header {
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.Link {
  color: blue;
}
