/**
 * # Container: Home
 *
 *
 */

.Home {
  width: 100%;
  lost-flex-container: column;
  align-items: center;
}


.Box {
  lost-column: 1/2;
  border: 1px solid $color-black;
}

.Title {
  text-align: center;
}

.Text {
  margin: 5px;
  padding: 0 20px;
}
