/**
 * # Container: Suppliant - SuppliantForm - (FieldTypes) - File
 *
 *
 */

.File {

}

.Text {
  margin-bottom: 20px;
  font-style: italic;
}

.Dropzone {
  padding: 50px;
  border: 2px dashed rgb(102, 102, 102);
  cursor: pointer;
  text-align: center;

  &--active {
    background-color: rgb(102, 102, 102);
  }
}

.Preview {
  max-width: 100px;
}
