/**
 * # Colors
 *
 * Palette URL: http://paletton.com/#uid=15o0u0kllllaFw0g0qFqFg0w0aF
 */

$color-black = #232426;
$color-white = #DCDBD5;
$color-white-bright = white;
$color-beige = darken($color-white, 10%);

$color-primary-0 = #973253;
$color-primary-1 = #E297AF;
$color-primary-2 = #BD5E7C;
$color-primary-3 = #711331;
$color-primary-4 = #4B0018;
