/**
 * # Design: Utilities
 *
 *
 */

$spaceTop($offset = none) {
  & + & {
    margin-top: $offset;
    // @content;
  }
}

$spaceBottom($offset = none){
  &:not(:last-child) {
    margin-bottom: $offset;
  }
}
